.wrapper{
    width: 100%;
    height:100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.content{
    max-width: 800px;
}
section{
    width: 100;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}
h1{
    font-size: 150px;
    line-height: 150px;
    color:blueviolet;
    margin:0;
}

body{
    margin:0;
    font-family:'Didact-Gothic', sans-serif;

}
.subheading{
    color:blueviolet;
    font-size: 24px;
}
.welcome{
    background: url("./images/flowers.avif") center/contain no-repeat;
}
.gifts{
    background: url("./images/12954858-1654857573218820.png") center/contain no-repeat;
}
.kids{
    background: url("./images/crying\ toddler.png") center/contain no-repeat;
}