.wrapper{
    width: 100%;
    height:100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.content{
    max-width: 800px;
}
.contentTest{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
section{
    width: 100;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.footertext{
  position: absolute;
  font-family: serif;
  font-size: x-large;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

h1{
    font-size: 150px;
    line-height: 150px;
    color:blueviolet;
    margin:0;
}
a, a:hover, a:active, a:visited { color: white; }

.passwordPage{
  margin: auto;
  text-align: center;
  margin-top: 25%;
}

body{
    margin:0;
    font-family:'Didact-Gothic', sans-serif;
}

.subheading{
    color:blueviolet;
    font-size: 24px;
}
.backgroundImage{
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.test{
  background-color: cornflowerblue;
}
.imageTest{
  opacity: 0;
  animation: fadeIn 5s ease-in forwards;
}
.imageTest2{
  opacity: 0;
  animation: fadeIn 5s ease-in forwards;
  animation-delay: 5s; /* Delay the start of the animation by 2 seconds */
}
.index{
  background-image: url("./images/Grainne\ +\ Robert~105.avif");
  color: white;
  font-size: 2.5em;
  font-family: weddingFont;
  font-stretch: expanded;
  text-shadow: -8px 5px #0a0a0a;
  overflow: hidden;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr; /* Top row full width */
  grid-template-rows: auto 1fr; /* Split row beneath */
  /*gap: 10px; /* Adjust the gap as needed */
}
.grid-item {
  padding: 20px;
  text-align: center;
}
.grid-item-split {
  text-align: center;
}
.split-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns of equal width */
  /*gap: 10px; /* Adjust the gap as needed */
}
.welcome{
  background-image: url("./images/flowers.avif");
}
.gifts{
  background-image: url("./images/12954858-1654857573218820.png");
}
.kids{
  background-image: url("./images/crying\ toddler.png");
}
.llama{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: rotation 8s infinite linear;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: weddingFont;
  src: url("./fonts/WeddingCeremony.otf");
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

#menuImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #menuImage:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}